<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="25" height="25" src="https://plus.unsplash.com/premium_vector-1711987272982-9df5d04e40f7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="albums">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Albums
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="artists">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Artists
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="genres">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Genres
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>




