@using RecordShopFront.models


        @if(Records.Count>0)
        {
            <h3>RecordSummaryList</h3>
            <div class="container">
                <div class="row">
       
                    @foreach(AlbumModel album in Records)
                    {
                        <div class="col-md-4">
                            <RecordSummary Record="album" />
                        </div>
                    }

                </div>
            </div>
                }
        else{
            <div class="text-center">
                <h3>No records found</h3>
            </div>        
        }
  


@code {
    [Parameter]
    public List<AlbumModel> Records { get; set; }



    protected override async Task OnInitializedAsync()
    {
        
    }
    

}
