@inject IHttpClientFactory ClientFactory
@using System.Text.Json
@using System.Text
@using RecordShopFront.Services
@using RecordShopFront.models;
@if (!isLoaded)
{
    <p>Loading...</p>
}
else
{
    <div class="container mt-4">
 <AlbumEditForm />
    </div>
}





@code {
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {

        isLoaded = true;

    }
    

   

    

}

