@inject IHttpClientFactory ClientFactory
@using RecordShopFront.Components.album
@if(Album==null){
    <Loader Message="Loading Records"/>
}
else{
    <RecordSummaryById Record ="Album"></RecordSummaryById>
    <p>hello</p>
}

@code {
    AlbumReadDto? Album { get; set; }
    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("MyHttpClient");
        //await Task.Delay(3000);//Testing loader, remove when finished
        Album = await client.GetFromJsonAsync<AlbumReadDto>($"album/{id}");

    }
    

}
