@inject IHttpClientFactory ClientFactory
@using System.Text
@using System.Text.Json
@using RecordShopFront.models
<h3>RecordDetails</h3>
<EditForm Model="Record" OnValidSubmit="Submit">
    <label for="Title">Title </label>
    <InputText @bind-Value="Record.Title" />
    <label for="Description">Description</label>
    <InputText @bind-Value="Record.Description" />

    <button type="submit">Save</button>

</EditForm>
<div>
    <p>@Record.Title</p>
    <p>@Record.Description</p>
</div>

@code {
    [SupplyParameterFromForm]
    public AlbumModel Record { get; set; }
    protected override void OnInitialized()
    {
        Record = new AlbumModel();
    }
    private void Submit(){
        var client = ClientFactory.CreateClient("MyHttpClient");
        var content = new StringContent(JsonSerializer.Serialize(Record), Encoding.UTF8, "application/json");
        var response = client.PostAsync("album", content).Result;
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Success");
        }
        else
        {
            Console.WriteLine("Fail");
        }
    }
}
