@page "/albums/{id:int}"
@rendermode InteractiveServer
@using RecordShopFront.Components.album
<h3>AlbumById</h3>
<RecordLoaderById id="id"/>

@code {
    [Parameter]
    public int id { get; set; }

}
