@page "/"
@rendermode InteractiveServer
@using RecordShop.Common.Dto
@using RecordShopFront.Components.album

<PageTitle>Music World</PageTitle>

<h1 class="text-center">Welcome to Music World</h1>

<RecordLoader/>


@code{

}
