@page "/"
@rendermode InteractiveServer
@using RecordShop.Common.Dto

<PageTitle>Music World</PageTitle>

<h1 class="text-center">Welcome to Music World</h1>

<RecordShopFront.Components.album.RecordDetails></RecordShopFront.Components.album.RecordDetails>


@code{

}
